[submodule "ThirdParty/rapidjson"]
	path = ThirdParty/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "ThirdParty/tclap"]
	path = ThirdParty/tclap
	url = https://github.com/eile/tclap.git
[submodule "ThirdParty/luaportal"]
	path = ThirdParty/luaportal
	url = https://github.com/cdsama/luaportal.git
[submodule "ThirdParty/lua"]
	path = ThirdParty/lua
	url = https://github.com/cdsama/LuaLibraryFiles.git
